@font-face {
    font-family: Calibri; 
    src: url('../css/fonts/Calibri.ttf');
}

body {
    height: 1000px;
    margin: 0;
    font-family: 'Calibri';
    overflow-x: hidden;
}

header {
    padding: 8px 12px 8px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 5px solid #dcffe1;
    background-color: #ffffff;
    z-index: 100;
}

.menu {
    font-family: 'Calibri';
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    margin: 10px -55px 10px 0;
}

.menu li {
    display: inline;
}

.menu li a {
    color: #969696;
    text-decoration: none;
    cursor: pointer;
}

.menu li:nth-child(10) {
    padding: 12px 16px;
} 

.menu li:nth-child(-n + 3) {
    padding: 12px 20px;
} 

.menu li:nth-child(5), .menu li:nth-child(6), .menu li:nth-child(8) {
    padding: 12px 15px;
} 

.menu li a:hover {
    color: #6f6f6f;
}

.menu li:nth-of-type(-n+3) a {
    font-weight: bold;
}

.menu-separator {
    border-left: 1px solid #969696;
    padding: 6px 0;
}

.menu li:nth-child(4) {
    margin: 0 10px 0 0px;
}

.menu li:nth-child(7) {
    margin: 0 10px 0 5px;
}

.menu li:nth-child(9) {
    margin: 0 0px 0 3px;
}

.logo {
    margin-top: 3px;
    margin-left: 50px;
    width: 192px;
    height: 38px;
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
    background-size: contain;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 10px;
}

@media screen and (max-width: 1010px) {
    .menu li a {
        padding: 12px 10px;
    }
}

.icon:hover {
    opacity: 0.55;
}

.bag-icon {
    padding: 10px 20px;
    background-image: url("../img/bag.png");
}

.heart-icon {
    padding: 20px 42px;
    background-image: url("../img/heart.png");
}

.media-icon {
    font-size: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 20px;
    margin-right: 7px;
    margin-top: 20px;
}

.media-icon:hover {
    opacity: 0.9;
}

.facebook-icon {
    background-image: url("../img/facebook_icon.png");
}

.twitter-icon {
    background-image: url("../img/twitter_icon.png");
}

.google-icon {
    background-image: url("../img/google_icon.png");
}

.pinterest-icon {
    background-image: url("../img/pinterest_icon.png");
}

.dropdown-content {
    display: none;
    margin-top: 12px;
    right: 0;
    position: absolute;
    width: 295px;
    height: 395px;
    -webkit-box-shadow: -12px 19px 82px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -12px 19px 82px -19px rgba(0, 0, 0, 0.75);
    box-shadow: -12px 19px 82px -19px rgba(0, 0, 0, 0.75);
}

.dropdown-content-share-it {
    background-color: #dff0f8;
    padding: 20px 20px 30px 20px;
}

.share-it-icons {
    display: flex;
    justify-content: center;
}

.dropdown-content-subscribe {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30px 15px;
}

.dropdown-content-subscribe h2 {
    font-family: 'Fjalla One';
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin: 0;
}

.dropdown-content-subscribe p {
    text-align: center;
}

.dropdown-content-subscribe input {
    background-color: #e9eafe;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    margin-top: 12px;
}

.subscribe-btn {
    background-color: #0898d3;
    font-family: 'Fjalla One';
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    margin: 30px 45px 0 45px;
    outline: none;
}

.subscribe-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-1 {
    margin-top: 40px;
    background-image: url("../img/bg_header.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 2;
}

.facial-sheet-img {
    background-image: url("../img/facial_sheet.png");
    position: absolute;
    transform: rotate(-10deg);
    right: 15vw;
    top: 10vw;
    background-size: cover;
    width: 25vw;
    height: 33vw;
    animation: float 6s ease-in-out infinite;
}

@media screen and (min-width: 1600px) {
    .slider {
        margin-left: 300px;
    }

    .section-1 {
        height: 720px;
        background-position-y: bottom;
    }
}

@media screen and (max-width: 1600px) {
    .section-1 {
        background-position-y: bottom;
        height: 45vw;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px) rotate(-10deg);
    }
    50% {
        transform: translatey(-20px) rotate(-10deg);
    }
    100% {
        transform: translatey(0px) rotate(-10deg);
    }
}

.section-1-text {
    position: absolute;
    font-family: 'Calibri';
    color: #ffffff;
    font-weight: bold;
    font-size: 45px;
    top: 18vw;
    left: 15vw;
    width: 500px;
}

.selected-words {
    /* color: #02ffcc; */
    color: #4d6d7c;
    text-shadow: 4px 4px 4px rgb(236, 236, 236);
}

.section-2 {
    background: url("../img/section_3_bg_top.png") left bottom no-repeat;
    background-size: contain;
    padding: 140px 0 320px 0;
    background-color: #ffffff;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.bubbles {
    background-image: url("../img/wave_line.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    width: 100vw;
    height: 23.9vw;
}

.bubble {
    display: none;
    position: absolute;
    text-align: center;
    color: #505050;
    left: 0;
    top: 0;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: -12px 19px 82px -19px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.bubble_1 {
    background-image: url("../img/bubble_1.png");
}

.bubble_2 {
    background-image: url("../img/bubble_2.png");
}

.bubble_3 {
    background-image: url("../img/bubble_3.png");
}

.bubble_4 {
    background-image: url("../img/bubble_4.png");
}

.bubble_5 {
    background-image: url("../img/bubble_5.png");
}

.bubble_6 {
    background-image: url("../img/bubble_6.png");
}

.bubble_7 {
    background-image: url("../img/bubble_7.png");
}

.bubble_8 {
    background-image: url("../img/bubble_8.png");
}

.bubble_9 {
    background-image: url("../img/bubble_9.png");
}

.section-2-text {
    width: 750px;
    font-family: 'Calibri';
}

.section-2-text h2 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 0px;
}

.section-2-text .separator {
    background-color: #02ffcc;
    width: 82px;
    height: 4px;
    margin: 10px 2px;
}

@media screen and (min-width: 1280px) {

    .big_bubble {
        width: 190px;
        height: 190px;
    }

    .small_bubble {
        width: 160px;
        height: 160px;
    }
}

@media screen and (max-width: 1280px) {
    .big_bubble {
        width: 160px;
        height: 160px;
    }

    .small_bubble {
        width: 130px;
        height: 130px;
    }
}

.section-2-text p {
    font-size: 18px;
    color: #6d6d6d;
}

.section-3 {
    padding-bottom: 50px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-3 > p {
    width: 600px;
    font-size: 19px;
    color: #6d6d6d;
    margin-bottom: 70px;
}

.section-3 h2 {
    margin-top: 70px;
    color: #535353;
    font-family: 'Calibri';
    font-size: 34px;
}

.section-3-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider {
    display: flex;
    width: 570px;
    height: 330px;
    align-items: center;
}

.slides {
    width: 92%;
    margin: 0 5%;
}

.slide {
    outline: none;
    margin: 0 5px;
}

.slide-header {
    display: flex;
    align-items: center;
}

.slide-title {
    font-size: 21px;
    font-weight: bold;
    color: #6d6d6d;
    margin-left: 10px;
}

.slide-number {
    font-size: 32px;
    color: #6d6d6d;
    font-weight: bold;
    padding: 6px 18px;
    border-radius: 50%;
    border: 2px solid #6d6d6d;
    background-color: #eaffed;
}

.slide-description {
    font-size: 18px;
    color: #535353;
}

.slide-img {
    background-repeat: no-repeat;
    background-size: contain;
}

.slide1-img {
    background-image: url("../img/slide1_image.png");
    width: 150px;
    height: 48px;
    margin: 21px 0;
}

.slide2-img {
    background-image: url("../img/slide2_image.png");
    width: 150px;
    height: 50px;
    margin: 20px 0;
}

.slide3-img {
    background-image: url("../img/slide3_image.png");
    width: 170px;
    height: 50px;
    margin: 20px 0;
}

.slide4-img {
    background-image: url("../img/slide4_image.png");
    width: 150px;
    height: 40px;
    margin: 25px 0;
}

.slide5-img {
    background-image: url("../img/slide5_image.png");
    width: 150px;
    height: 40px;
    margin: 25px 0;
}

.discover-btn {
    font-size: 14px;
    float: right;
    margin: 30px 30px;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #15e2a0;
    text-decoration: none;
    background-color: #fafafa;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.19);
    outline: none;
}
.slider-next-btn, .slider-prev-btn {
    font-size: 20px;
    color: #cfcfcf;
    width: 40px;
    height: 30px;
    background-color: inherit;
    border: inherit;
    outline: none;
    cursor: pointer;
}

.slider-next-btn:hover, .slider-prev-btn:hover {
    color: #6d6d6d;
}

.board {
    width: 500px;
    height: 510px;
    background-image: linear-gradient(#dbffe0, #afe4d36e);
    background-color: #dbffe0;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transform: perspective(3600px) rotateY(29deg) rotateX(4deg) rotate(1deg);
    -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    -moz-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.board p {
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    color: #535353;
    transform: translate(0, -470px);
}

.bubbles-right .particle-r {
    opacity:0;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.507);
    animation: bubbles-right 3s ease-in infinite;
    border-radius: 100%;
}

.bubbles-left .particle-l {
    opacity:0;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.507);
    animation: bubbles-left 3s ease-in infinite;
    border-radius: 100%;
}

.board-bubbles-left .particle-ll, .board-bubbles-left .particle-rr {
    opacity:0;
    position: absolute;
    background-color:rgba(35, 204, 255, 0.192);
    animation: bubbles-right 3s ease-in infinite;
    border-radius: 100%;
}

@keyframes bubbles-right {
    0% {
       opacity: 0;
    }
    20% {
       opacity: 1;
       transform:translate(10px, -10px);
    }
    100% {
       opacity: 0;
       transform:translate(40px, -10px);
    }
 }
 
@keyframes bubbles-left {
    0% {
       opacity: 0;
    }
    20% {
       opacity: 1;
       transform:translate(-50px, -10px);
    }
    100% {
       opacity: 0;
       transform:translate(10px, -10px);
    }
 }

.facial-sheet-on-board-img {
    background-image: url("../img/facial_sheet.png");
    background-repeat: no-repeat;
    background-position-x: -3px;
    background-size: 104%;
    width: 178px;
    height: 225px;
    z-index: 10;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 50px 99px -15px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 50px 99px -15px rgba(0,0,0,0.24);
    box-shadow: 0px 50px 99px -15px rgba(0,0,0,0.24);
}

.circle-element {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    background-size: 56%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #c4c0ba;
    -webkit-box-shadow: 0px 3px 4px 0.2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 4px 0.2px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 4px 0.2px rgba(0,0,0,0.16);
}

.layer-1 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    animation: 15s rotate-1 ease-in-out infinite;
    width: 40px;
    height: 380px;
    z-index: 1;
}

.layer-2 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    animation: 15s rotate-2 ease-in-out infinite;
    width: 40px;
    height: 380px;
    z-index: 2;
}

.layer-3 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    animation: 15s rotate-3 ease-in-out infinite;
    width: 40px;
    height: 380px;
    z-index: 3;
}

.layer-4 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    animation: 15s rotate-4 ease-in-out infinite;
    animation-fill-mode: none;
    width: 40px;
    height: 380px;
    z-index: 4;
}

.layer-5 {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    animation: 15s rotate-5 ease-in-out infinite;
    width: 40px;
    height: 380px;
    z-index: 5;
}

.elements {
    position: absolute;
    display: flex;
    width: 320px;
    background-color: #e9fef0ea;
    height: 320px;
    transform: translate(40px, -70px);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    z-index: 1;
    animation: 15s elements-animation infinite;
    background-clip: padding-box;
}

.circle-element-1 {
    background-image: url("../img/circle_img_1.png");
    animation: 15s reverse-rotate-1 ease-in-out infinite;
}

.circle-element-2 {
    background-image: url("../img/circle_img_2.png");
    animation: 15s reverse-rotate-2 ease-in-out infinite;
}

.circle-element-3 {
    background-image: url("../img/circle_img_3.png");
    animation: 15s reverse-rotate-3 ease-in-out infinite;
}

.circle-element-4 {
    background-image: url("../img/circle_img_4.png");
    animation: 15s reverse-rotate-4 ease-in-out infinite;
}

.circle-element-5 {
    background-image: url("../img/circle_img_5.png");
    animation: 15s reverse-rotate-5 ease-in-out infinite;
}

@keyframes elements-animation {
    0% {
        border: 0px solid rgba(255, 255, 255, 1);
        opacity: 0;
    }
    10% {
        opacity: 1; 
        border: 30px solid rgba(255, 255, 255, 0.0);
        transform: translate(40px, -40px);
    }
    10.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    11% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    20% {
        opacity: 1; 
        border: 30px solid rgba(255, 255, 255, 0.0);
        transform: translate(40px, -40px);
    }
    20.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    21% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    30% {
        opacity: 1; 
        border: 30px solid rgba(255, 255, 255, 0.0);
        transform: translate(40px, -40px);
    }
    30.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    31% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    40% {
        opacity: 1; 
        border: 30px solid rgba(255, 255, 255, 0.0);
        transform: translate(40px, -40px);
    }
    40.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    41% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    50% {
        opacity: 1; 
        border: 30px solid rgba(255, 255, 255, 0.0);
        transform: translate(40px, -40px);
    }
    50.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    51% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    60% {
        opacity: 1; 
        border: 30px solid rgba(255, 255, 255, 0.0);
        transform: translate(40px, -40px);
    }
    60.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    61% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    70% {
        opacity: 1; 
        border: 30px solid rgba(255, 255, 255, 0.0);
        transform: translate(40px, -40px);
    }
    70.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    71% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    80% {
        opacity: 1; 
        border: 30px solid rgba(255, 255, 255, 0.0);
        transform: translate(40px, -40px);
    }
    80.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    81% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    90% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
        opacity: 1;
    }
    90.5% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
    }
    91% {
        border: 0px solid rgba(255, 255, 255, 1);
        transform: translate(40px, -70px);
    }
    100% {
        border: 0px solid rgba(255, 255, 255, 0);
        transform: translate(40px, -70px);
        opacity: 0;
    }
}

@keyframes rotate-1 {
    10% {
        transform: rotate(-297deg);
    }
    60% {
        transform: rotate(-297deg);
    }
}

@keyframes rotate-2 {
    10% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-240deg);
    }
    60% {
        transform: rotate(-240deg);
    }
}

@keyframes rotate-3 {
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    60% {
        transform: rotate(-180deg);
    }
}

@keyframes rotate-4 {
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-120deg);
    }
    60% {
        transform: rotate(-120deg);
    }
}

@keyframes rotate-5 {
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-60deg);
    }
    60% {
        transform: rotate(-60deg);
    }
}

@keyframes reverse-rotate-1 {
    10% {
        transform: rotate(297deg);
    }
    60% {
        transform: rotate(297deg);
    }
}

@keyframes reverse-rotate-2 {
    10% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(240deg);
    }
    60% {
        transform: rotate(240deg);
    }
}

@keyframes reverse-rotate-3 {
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(180deg);
    }
}

@keyframes reverse-rotate-4 {
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(120deg);
    }
    60% {
        transform: rotate(120deg);
    }
}

@keyframes reverse-rotate-5 {
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(60deg);
    }
    60% {
        transform: rotate(60deg);
    }
}

.first_block {
    display: flex;
    margin-top: 10vw;
    justify-content: center;
    align-items: center;
    margin-right: 4vw;
}

.second_block {
    margin-top: 10vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-right: 4vw;
    padding-left: 11vw
}

.third_block {
    align-items: center;
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    margin-right: 4vw;
}

.first_block span {
    border: 1px solid;
    font-size: 38px;
    border-radius: 100% 100% 100%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(234,255,237);
}

.second_block span {
    border: 1px solid;
    font-size: 38px;
    border-radius: 100% 100% 100%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(234,255,237);
}

.third_block span {
    border: 1px solid;
    font-size: 38px;
    border-radius: 100% 100% 100%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: rgb(234,255,237);

}

.main_block {
    margin-top: 5vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main_block h1{
    color: rgb(83,83,83);
    font-size: 36px;
    padding-left: 6vw;

}

.main_block p{
    color: rgb(83,83,83);

}

.section4 li {
    display: flex;
    /* color: #609c7c; */
    /* content: "\2713\0020"; */
    align-items: center;
    color: rgb(34,177,76);
    margin-top: .8vw;
    font-size: 18px;
}

.number-block {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.number-block h1 {
    padding-left: 1vw;
    font-size: 25px;
    color: rgb(109,109,109);
}

.content_block ul li {
    border-radius: 100% 100% 100% 100%;
    padding-left: 8px;
    padding-right: 4px;
}

.content_block ul li img{
    width: 1.5vw;
    margin-right: .9vw;
}

.content_block ul {
    padding-left: 5vw;
    list-style: none;
}

.content_block2 ul {
    padding-left: 6vw;
    list-style: none;
}

.section_content {
    color: rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    height: auto;
    background: #ffffff;
    /* padding: 7px; */
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 8px 25px 0px rgba(50, 50, 50, 0.64);
}

.section_content p {
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left;
    font-size: 1.1vw;
}

.section_content img {
    width: 18vw;
    box-shadow: 0px 3px 9px;
}

.content_block {
    width: 45vw;
    padding-right: 10vw;
}

.content_block p {
    font-size: 18px;
    padding-left: 6vw;
    padding-right: 7vw;
    color: rgb(83, 83, 83);
}

.content_block2 {
    width: 45vw;
    padding-left: 10vw;
}

.content_block2 img{
    width: 1.5vw;
    margin-right: .9vw;
}

.content_block2 p {
    padding-left: 6vw;
    padding-right: 7vw;
    color: rgb(83, 83, 83);
}


.content_block:nth-child(2) {
    width: 45vw;
}

.playpause {
    background-image: url("../img/play-button.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

.videocontainer {
    width: 50vw;
}

video {
    border-radius: 0% 100% 100% 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    object-fit: cover;
    width: 37.5vw;
    height: 33vw;
}

.single-item button {
    display: none !important;
}

.info {

    outline: none;
    cursor: pointer;
    display: flex !important;
    align-items: center;
}

.info span {
    display: flex;
    align-items: center;
    background: url("../img/box.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1.7vw;
    padding-bottom: 1.7vw;
    padding-left: 4.3vw;
    margin-left: -2vw;
    /*box-shadow: 0px 2px 2px 3px rgba(50, 50, 50, 0.2);*/
    width: 25vw !important;
    height: 5vw;
    text-align: center;
    color: rgb(83,83,83);
}

.section4{
    padding-top: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/backbottom.png")left top no-repeat;;
}

.info img {
    width: auto!important;
    height: 6.5vw!important;
    z-index: 2;
    border-radius: 100% 100% 100% 100%;
    box-shadow: 1px 1px 9px;
    margin-top: 4px;
    object-fit: cover;
    margin-bottom: 4px;
    box-shadow: 1px 2px 10px rgba(50, 50, 50, 0.63);
    margin-left: 4px;
}

hr {
    margin-left: 6vw;
    height: 2px;
    width: 35vw;
    border: none;
    background: rgba(195, 195, 195, 0.28)
}

.info span em {
    color: rgb(0,162,232);
    font-style: normal;
    font-size: 2vw;
}

.circle {
    margin-bottom: -3vw;
    display: flex;
    bottom: 0px;
    position: relative;
}

.circle1 {
    margin-bottom: -3vw;
    display: flex;
    bottom: 0px;
    position: relative;
}

.circle1 img:first-child {
    width: 6vw;
    height: 6vw;
    margin-right: -12px;
    box-shadow: 1px 2px 10px rgba(50, 50, 50, 0.63);
    border-radius: 100% 100% 100% 100%;
}

.circle1 img {
    width: 6vw;
    height: 6vw;
    margin-right: -12px;
    box-shadow: 1px 2px 10px rgba(50, 50, 50, 0.63);
    border-radius: 100% 100% 100% 100%;
}

.circle img {
    border-radius: 100% 100% 100% 100%;
    width: 6vw;
    height: 6vw;
    box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.63);

}

.circle img:first-child {
    z-index: 2;
}

.info span img {
    width: 5px;
    height: 5px;
}

.main_block hr {
    width: 185px;
    margin-left: 6vw !important;
    background: rgba(8, 152, 211, 0.17);
    height: 1px !important;
    height: 2px !important;
}

.footer {
    height: auto;
}

.contact-us {
    background: url("../img/Background.png");
    height: 25vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.subscribe-footer {
    display: flex;
    margin-top: 4vw;
    justify-content: center;
    align-items: center;
}

.label {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4vw;
    margin-right: 13vw;
    color: rgb(80,80,80);
}

.label div {
    height: 2vw;
    display: flex;
    margin-top: 1vw;
    align-items: center;
}

.label img {
    padding-top: 0.5vw;
    padding-left: .5vw;
    width: 10.2vw;
    height: 2.33vw;
}

.label span {
    font-size: 18px;
    color: #808080;
    font-weight: normal;

}

.form {
    height: 1.5vw;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: .6vw;
    background: white;
    border: 1px solid;
    border-color: #e2e2e2;
}

.btn-footer:hover {
    color: #580ad2;
}

.btn-footer {
    background: none;
    border: 1px 0px 0px 0px;
    border-left: 1px solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #0898d3;
    cursor: pointer;
    outline: none;
}

.email {
    padding-left: 5px;
    border: none;
    outline: none;
    width: 18vw;
}

.footer-navigation {
    background-color: rgb(219,255,224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.footer-navigation li a:hover {
    color: #0898d3;
}

.footer-navigation li a {
    color: #808080;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding-right: 3vw;
}

li {
    list-style: none;
}

.footer-logo {
    display: flex;
    align-items: center;
    padding-right: 3vw;
}

.footer-logo img {
    width: 8vw;
    height: 2vw;
}

.footer-logo img:first-child {
    width: 6vw;
    height: 2vw;
    padding-right: 2vw;
    border: 2px solid;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-color: #80808045;
}

.reserved {
    color: #808080;
    font-size: 13px;
    text-transform: uppercase;
}

.description {
    margin-left: 14vw;
    margin-right: 14vw;
    margin-bottom: 4vw;
    margin-top: 1vw;
    font-size: 13px;
    color: #808080;
}
.figthun-section{
    margin-top: 3vw;
}
.know-more{
    margin-top: 7vw;
    margin-bottom: 7vw;
    height: 5vw;
}
